.MainApp {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .2fr 1fr 1fr 1fr;
  grid-template-areas:
    "head head head"
    "main main2 main3"
    "main2-1 main2-2 main2-3"
    "footer footer2 footer3";
}

@media (min-width: 700px) {
 
}

@keyframes example {
  from {color: white;}
  to {color: #9c27b0;}
}

@keyframes forgrid {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes like {
  from {color: gray;}
  to {color: #9c27b0;}
}

.notLiked {
  float: right;
  color: gray;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--google {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.resp-sharing-button--google:hover,
.resp-sharing-button--google:active {
  background-color: #c23321;
  border-color: #c23321;
}

.resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}


.liked {
  float: right;
  color: #9c27b0;
  -webkit-animation-name: like;
  -webkit-animation-duration: 1s;
}

.val {
  color: #9c27b0;
  margin-left: 30%;
}

.comment {
  background-color:#e9e5ea;
  border-radius: 11px;
  margin: 10px;
}

.Gallery {
  margin-top: 5%;
  text-align: center;
}

.btnGrid {
  width: 30vw;
  border-radius: 12px;
  height: 10vw;
  color: white;
  background-color: #9c27b0;
}

.Login {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .5fr 1fr 1fr;
  grid-template-areas:
    "head head head"
    "main main2 main3"
    "footer footer2 footer3";
}

.paperThing {
  grid-area: main2;
}

.ButtonsHome {
  grid-area: main2-2;
  justify-self: center;
}

.home {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: .2fr 1fr 1fr 1fr;
  grid-template-areas:
  "head head head"
  "main main2 main3"
  "main2-1 main2-2 main2-3"
  "footer footer2 footer3";
}

.homeText {
  grid-area: main2;
  text-align: center;
  margin-top: 50%;
  font-size: 11vw;
  font-family: Roboto;
  color: #9c27b0;
  -webkit-animation-name: example;
  -webkit-animation-duration: 4s;
}

.video {
  margin-top: 20%;
  grid-area: main2;
  justify-self: center;
  -webkit-animation-name: forgrid;
  -webkit-animation-duration: 3s;
}

.videocanv {
  margin-top: 20%;
  width: 100%;
  height: 50vw;
  grid-area: main2;
  justify-self: center;
}

.filter-img {
  margin-top: 20%;
  grid-area: main2;
  place-self: center;
  height: 40vw;
  max-height: 400px;
  z-index: 1;
}

.navbar {
  grid-area: head;
}

.btn-takepicture {
  background-color: purple;
  grid-area: main2-2;
  max-width: 300px;
  justify-self: center;
  height: 10%;
  width: 40%;
  color: white;
  margin-left: 50%;
  border-radius: 12px;
  font-size: 2vw;
  z-index: 1;
}

.btn-Upload {
  background-color: purple;
  grid-area: main2-2;
  max-width: 300px;
  height: 10%;
  width: 40%;
  color: white;
  margin-right: 50%;
  justify-self: center;
  border-radius: 12px;
  font-size: 2vw;
}

.file-upload {
  grid-area: main2-2;
  max-width: 300px;
  height: 10%;
  width: 40%;
  color: white;
  margin-right: 50%;
  justify-self: center;
  border-radius: 12px;
  font-size: 2vw;
  z-index: 1;
  opacity: 0;
}

.gridFilters {
  grid-area: main2-2;
  place-self: center;
  min-width: 178px;
  background-color: purple;
  opacity: 20%;
  border-radius: 12px;
  -webkit-animation-name: forgrid;
  -webkit-animation-duration: 3s;
}

.filter {
  height: 9vw;
  width: 12vw;
  margin-right: .4em;
  margin-top: .3em;
}

.uploadedImg {
  margin-top: 20%;
  grid-area: main2;
  justify-self: center;
  max-width: 200px;
}